.section{
    padding: 10rem 0 5rem 0;
}
.advert-center{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 3rem;
}
.advert-box{
    position: relative;
    color: #fff;
    height: 27rem;
    border-radius: 1.6rem;
    padding: 1.6rem;
    overflow: hidden;
    z-index: 1;
    img{
        position: absolute;
        bottom: 0;
        left: -20%;
        height: 100%;
        width: 35rem;
        z-index: -1;
    }
    .dotted{
        position: relative;
        height: 100%;
        border: 2px dashed #f1f1f1;
        border-radius: 1rem;
    }
    .content{
        position: absolute;
        top: 50%;
        right:5%;
        transform: translate(0, -50%);
    }
}
.advert-box:nth-child(1){
    background-color: #f5c5d1;
}
.advert-box:nth-child(2){
    background-color: #a1d1df;
}
.advert-box:nth-child(3){
    background-color: #e5bc00;
}
.advert-box .content h2{
    line-height: 1.2;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.advert-box .content h4{
    font-size:1.5rem;
    text-transform: capitalize;
}
.advert-box .content h2,
.advert-box .content h4{
    text-shadow: 5px 6px 0px rgba(37,59,112,0.1);
}