.title{
    margin: 4rem 0 7rem 0;
    text-align: center;
    
    h1{
        font-size: 3rem;
        display: inline-block;
        position: relative;
        z-index: 0;
    }
}
.title h1::after{
    content: "";
    position: absolute;
    left:50%;
    bottom: -20%;
    transform: translate(-50%, -50%);
    background-color: #f60091;
    width: 50%;
    height: .4rem;
    z-index: 1;
}